.black{background-color: #444444; color: #fff;}
hr{background-color: #fff;}
a:hover{color: #515151;}
a{color: #fff;}
.genre{background-color: #515151;}
.bar{background-color: #515151;}
.list h1{color: #fff;}
.list h2{color: #fff;}
.movie h1{color: #fff;}
.movie h2{color: #fff;}
.movie{background-color: #515151; border-radius: 21px;}
button{background-color: #fff; color: #444444;}