.light{background-color: #f2e9e4; color: #fff;}
.about{background-color: #fff;}
.about h2{color: #f2e9e4;}
.log h2{color: #fff;}
.genre{background-color: #e7ddd8;}
.genre h2{color: #fff;}
a{color: #fff;}
a:hover{color: #f2e9e4;}
button{background-color: #fff; color: #edddd4;}
.slides{background-color: #FFEED9;}
.movie h1{color: #fff;}
.movie h2{color: #fff;}
.bar{background-color: #e7ddd8;}
.sup{background-color: #e7ddd8;}
.sup h2{color: #fff;}