.light{background-color: #f2e9e4; color: #fff;}
hr{background-color: #fff;}
a:hover{color: #e7ddd8;}
a{color: #fff;}
.genre{background-color: #e7ddd8;}
.bar{background-color: #e7ddd8;}
.list h1{color: #fff;}
.list h2{color: #fff;}
.movie{background-color: #e7ddd8; border-radius: 21px;}
.movie h1{color: #fff;}
.movie h2{color: #fff;}
button{background-color: #fff; color: #f2e9e4;}