.special{background-color: #ebebeb; color: #02233c;}
hr{background-color: #02233c;}
a:hover{color: #dedede;}
a{color: #02233c;}
.genre{background-color: #dedede;}
.bar{background-color: #dedede;}
.list h1{color: #02233c;}
.list h2{color: #02233c;}
.movie{background-color: #dedede; border-radius: 21px;}
.movie h1{color: #02233c;}
.movie h2{color: #02233c;}
button{background-color: #fff; color: #02233c;}