.special{background-color: #ebebeb; color: #02233c;}
.about{background-color: #02233c;}
.about h2{color: #fff;}
.genre{background-color: #dedede;}
.genre h2{color: #02233c;}
a{color: #02233c;}
a:hover{color: #ebebeb;}
button{color: #fff; background-color: #02233c;}
.slides{background-color: #ebebeb;}
.bar{background-color: #dedede;}
.sup{background-color: #dedede;}
.sup h2{color: #02233c;}